# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/client/node_modules
# testing
/coverage

# production
.env
# misc
.DS_Store
.env.local
.env.dev
.env.test.local
.env.prod

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify